////// HEADER
////// notificationSection
////// accordeonSection
////// lineSection 
////// stepByStepSection
////// tariffSection 
////// regimAndFoodSection
////// historySection
////// beforeAfterSection
////// quoteSection
////// offlineTrainingSection
////// rulesSection
////// FAQsection
////// btnStartSection
////// partnersSection
////// sendMailSection
////// footer
////// BUTTONS

// PROFILEPAGE

////// user_dataSection
////// calculateSection
////// trainMailSection


$red:#d8003d;
$gray:#555555;
$fzNAV: 18px;

ul {
  padding:0;
  margin:0;
  li {
    list-style-type: none;
  }
}
button {
  outline: none;
}
a {
	&:hover,&:focus {
		text-decoration: none;
		outline: none;
	}
}
input, textarea, select, button{
	&:focus{
		outline:none;
	}
}
a:hover, a:focus, input {
  outline: none;
  text-decoration: none;
}

@font-face {
  font-family: Mir;
  src: url("../fonts/Mir/Mir.otf");
  font-style: normal;
  font-weight: normal; 

}
@font-face {
  font-family: meta;
  src: url("../fonts/meta/MetaPro-Bold.otf");
  font-style: normal;
  font-weight: normal; 
}
body {
  font-family: Mir;
}
h1 {
  font-family:meta;
}

////// HEADER

nav {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin:0;
    a {
      color:#000;
      text-decoration: none;
      transition: all .5s ease;
      &:hover {color: $red;}
      &:focus {color: $red;}
      li  {
        margin:0 20px;
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
  img.mobileLogo {
    display: none;
  }
  ul.right {
    flex-direction:column;
    a {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
  
  #menuToggle {display: none;}
  .label-toggle {display: none;}
  

  .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
.desctopLogo, .mobileLogo {
  cursor: pointer;
}
  @media screen and (max-width: 1000px) {
    .logo {
      img.mobileLogo {
        display: block;
        margin: 40px;
        max-width: 200px;

      }
      img.desctopLogo {
        display: none;
        
      }
    }
    ul {
      display: block;
      height: 250px;
      list-style-type: none;
      height: 0;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
      li {
        border-bottom: 1px solid #000;
        display: block;
        padding: 1em 0;
      }
    }
    ul.right {

      height:0; 

    }
    #menuToggle:checked ~ ul {
      opacity: 1;
      height:470px;
      visibility: visible;
    }
    #menuToggle:checked ~ ul.right {
      height: 60px;
      margin:30px auto;
    }

    .label-toggle {
      cursor: pointer;
      position: absolute;
      display: block;
      height: 35px;
      width: 40px;
      top:60px;
      right: 20px;
      span {
        background-color:$red;
        display: block;
        margin-bottom: 6px;
        width: 35px;
        height: 3px;
      }
    }
    .wrapper {display: block;}
  }
}

////// notificationSection

.notif {
  background-color: #ffc017;
  padding:50px 0;
  color:#fff;
  .notifWrap {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex:1 1 auto;
 	h2 {
		font-size:24px;
		align-items: center;
		margin: auto;
		img {
			margin-right: 30px;
		}
	}
	p{
		margin:0;
	 	a {
	    	color: #fff;
	   	}
	}
  }
}

////// accordeonSection

.accordeonSection {
  .tariffsCarousel {
    margin:0;
    text-align: center;
    div {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      max-height: 460px;
      .item {
        padding:50px 30px;
        
      }
      h2 {
        color:$red;
        font-size:32px;
        font-weight:800;
        margin-bottom: 20px;
      }
      span {
        margin-bottom: 20px;
        color:$red;
        display: block;
        font-weight:800;
      }
      p {
        color:#fff;
        margin-bottom:20px;
        line-height: 17px
      }
    }
    div.t1 {
      background-image: url("../img/accordeon/1.png");
      .item {
        background-color:rgba(0,0,0,.5);
      }
    }
    div.t2 {
      background-image: url("../img/accordeon/2.png");
      .item {
        background:rgba(0,0,0,0.5);
      }
    }
    div.t3 {
      background-image: url("../img/accordeon/3.png");
      .item {
        background-color: rgba(0,0,0,.5);
      }
    }
    .slick-dots {
      bottom:0;
      li.slick-active{
        button::before {
          color:#fff;
        }
      }
    }
  }
  .accordion {
    width: 100%;
    overflow: hidden;
    ul {
      width: 100%;
      display: table;
      table-layout: fixed;
      margin: 0;
      padding: 0;
      li {
        display: table-cell;
        vertical-align: bottom;
        background-repeat: no-repeat;
        background-position: center;
        transition: width .5s ease;
        -webkit-background-size: cover;
        background-size:cover;
        width: 10%;
        div {
          a {
            overflow: hidden;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction:column;
            align-items:center;
            height:600px;
            width: 100%;
            position: relative;
            z-index: 3;
            color: #fff;
            .redBtn.tarifBtn {
              width: 150px;
              margin-top: 50px;
            }
            h2 {
              height: 200px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              span.prev {
                img {
                  max-width: 30px;
                  display: block;
                  margin: auto;
                }
              }
            }
            p {
              font-size:0;
              opacity: 0;
              height: 0;
              span{
                font-size: 0;
                height: 0;
              }
            }
          }
          a * {
            width: 100%;
          }
        }
      }
      li:nth-child(1) {
         background-image: url("../img/accordeon/1.png");
        a {
          background-color:rgba(255,255,255,0.6);
        }
      }
      li:nth-child(2) {
        background-image: url("../img/accordeon/2.png");
        background-position: 0 0;
        a {
          background:rgba(128,212,255,0.5);
        }
      }
      li:nth-child(3) {
        background-image: url("../img/accordeon/3.png");
        a {
          background:rgba(13,255,189,0.5);
        }
      }
      li.active {
        width: 50%;
        a {
          text-align: left;
          background-color: rgba(255, 255, 255, 0.4);

          align-items:flex-end;
          h2 {
            color:$red;
            margin-right: 30px;
            height: auto;
            margin-bottom: 20px;
            max-width: 350px;
            font-size: 5rem;
            line-height: 40px;
            font-family:meta;          
            // display: block;
            span.prev {
              display: none;
            }
          }
          p {
              margin-right: 30px;
              max-width: 350px;
              line-height: 22px;
              font-size: 18px;
              font-family: Mir;
              height: auto;
              color:#000;
              display: block;
              opacity: 1;
              span {
                display: block;
                color:$red;
                height: auto;
                font-size: 24px;

              } 
              .redBtn.tarifBtn {
                  display: block;
                }
            }
        }
      }
    }
  }
}
@media only screen and (min-width : 1450px) {
  .accordeonSection {
    .accordion {
      ul {
        li {
          div {
            a {
              height: 700px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width : 1800px) {
  .accordeonSection {
    .accordion {
      ul {
        li {
          div {
            a {
              height: 780px;
            }
          }
        }
      }
    }
  }
} 

////// lineSection 

.lineSec {
  text-align: center;
  background-position: center center;
  background-color:$red;
  background-image: url('../img/lineSec/lineBg.png');
  background-size: 100%;
  height: 60px;
  h1 {
    color: #fff;
    line-height: 60px;
    margin:0;
  }
}

////// stepByStepSection 

.stepByStep {
  ul {
    li {
      display: inline-flex;
      figure {
        p.stepNum {
          background-color: $red;
          border-radius:50%;
          width: 35px;
          height: 35px;
          margin:35px auto;
          font-family:meta;
          color: #fff;
          font-size: 22px;
        }
        p.stepNum:before{
            content:"│";
            color: $red;
            position: absolute;
            transform: rotate(160deg);
            margin: -35px 0 0 -15px;
            font-weight: 200;
        }
        .imgWrap {

          position: relative;
        }
        figcaption {
          p {
            max-width:100px;
            margin:20px auto;
            font-weight: 800;
            letter-spacing:.3px;
          }
        }
      }
    }
  }
}

////// contestSection 

.contestSec {
  background-image: url('../img/contestSection/blurBg.png');
  background-size: cover;
  background-repeat: no-repeat;
  .infinity {
    display: block;
    text-align: center;
    height: 0;
    img {
      margin-top:-23px;
      padding:20px;
      border-radius: 50px;
      background-color:#fff;
    }
  }
  .leftSide {
    p:nth-child(1) {
      font-size: 32px;
      font-weight:800;
      color: #d8003d;
    }
  }
  .rightSide {
    h3 {
      i {
        color: #fff;
        margin-left: 45px;
        display: block;
      }
    } 
    ul {
      margin-bottom: 30px;
      li {
        font-family:meta;
        font-size: 40px;
        font-weight:800;
        background-position: center;
        background-repeat: no-repeat;
        padding:15px 0;
        margin:0 0 15px;
        position: relative;
        .wrapper {
          display: block;

        }
        span {
          font-size: 14px;
          font-family: mir;
          position: absolute;
          color: #000;
          top:10px;
          margin-left: -50px;
        }
      }
      li:not(:last-child) {
        margin-left: 180px;        

      }
      li:nth-child(1) {
        color: #fff;
        background-image:url('../img/contestSection/1Bg.png');
      }
      li:nth-child(2) {
        margin-right: 4px;
        color: $red;
        background-image: url('../img/contestSection/2Bg.png');
        span.some {
          bottom:0;
          top: 60px;
          color: $red;
        }
      }
      li:nth-child(3) {
        margin-right: 32px;
        color: $red;
        background-image: url('../img/contestSection/3Bg.png');
      }
      li:nth-child(4) {
        color: $red;
        background-image: url('../img/contestSection/2Bg.png');
        background-size: 70%;
        margin-right: 25px;
      }
      li:nth-child(5) {
        font-size: 26px;
        padding:25px 0;
        color: #fff;
        background-image: url('../img/contestSection/4Bg.png');
        span {
          color:#fff;
        }
        span.some {
          bottom:0;
          top: 60px;
          margin-left:-100px;
          color:#fff;
        }
      }


    }
  }
  .wrapperContest {
    padding-top:50px;
    padding-bottom:50px;
    h1 {
      color: #000;
      margin-bottom: 50px;
    }
    h3 {
      color: $red;
      margin: 0 40px;
      font-style: italic;
      font-weight: 800;
      font-size: 26px;
      letter-spacing:1px;
    }
    p {
      font-size:$fzNAV;
    }
  }
}
 @media screen and (max-width: 768px) { 
  .contestSec {
    .rightSide {
      ul {
        li:not(:last-child){
          margin: 15px 0;
        }
        li {
          span {
            top:5px;
            margin:0;
          }
          span.some {
            white-space:nowrap;
            right: 10px;
          }
          &:nth-child(1) {
            background-color:$red;
            background-image: none;
          }
          &:nth-child(2) {
            background-color:rgba(255,89,136,.3);
            background-image: none;
          }
          &:nth-child(3) {
            background-image: none;
            background-color:rgba(255,255,255,.5);
          }
          &:nth-child(4) {
            background-image: none;
            background-color:rgba(0,0,0,.5);
            span.some {
              top: 95px;
            }
          } 
        }
      }
      h3{
        margin: 0 5px 0 0;
        font-size: 22px;
        i {
          margin:0;
        }
      }
    }
  }
 }

@media screen and (min-width: 768px) and (max-width: 1350px) { 
  .contestSec {
    .wrapperContest {
      h1{
        max-width: 340px;
        margin: 0 auto 30px
      }
    }
    .rightSide {
      ul {
        li:nth-child(1){
          background-size: 73%;
          margin-left:210px;
        }
      }
    }
  }
}

////// tariffSection 

.tariffSec {
  text-align: center;
  padding:50px 0 10px;
  background-image: url('../img/tariffSec/tariffBg.png');
  background-size: cover;
  background-position: center;
  color:#fff;
  border-bottom: 4px solid $red;
  .wrapper {
    display: flex;
    justify-content: space-between;
    max-height: 290px;
    .itWrap {
      width: 300px;
      height:320px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        color: $red;
      }
      p {
        color: #fff;
      }
      span {
        font-size: 22px;
        font-weight: 800;
        letter-spacing:2px;
        color:#fff;
        display: block;
        i {
          font-weight: 800;
        }
      }
      button {
        max-width: 150px;
        margin:0 auto;
        height: 45px;
        padding:0 25px;
        margin-top: 40px;
      }
      button.DrugsBtn {
        border:4px solid $red;
        width: 80px;
        height: 80px;
        background-image:url('../img/tariffSec/drugs.png');
        background-size: cover;
        background-position: center;
        border-radius:50%;
      }
      .DrugsBtnWrap {
        position: relative;
        button {
          position: absolute;
          top:-60px;
          right:0;
          left:0;
          bottom:0;
        }
        height: 45px;
      }
    }
    .itWrap:nth-last-child(1){
      p {
        max-height: 0px;
        margin: -30px 0px 30px;
        line-height: 16px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .tariffSec {
    .wrapper{
      flex-wrap: wrap;
      max-height: none;
      .itWrap {
        width:200px;
        height: 270px;
        margin: auto;
        button{
         margin: 0px auto 40px; 
        }
        .DrugsBtnWrap {
          button {
            top: -40px;
          }
        }
      }
    }
  }
}

////// regimAndFoodSection
.regimAndFoodSec {
  padding:80px 0;
  background-image: url('../img/regimAndFood/regimAndFood.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  p {
    margin:60px auto 100px;
    max-width: 34em;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .regimAndFoodSec{
    padding:20px 0;
    p {
      margin:30px auto;
      font-size: 16px;
      line-height: 21px;
    }
  }
}

////// historySection

.historySec {
  padding:60px 0;
  background-image: url('../img/history/history.png');
  background-size: cover;
  background-position: bottom;
  color: #fff;
  h1 {
    margin-bottom: 20px;
  }
  p {
    margin:0 auto 10px;
    max-width: 60em;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .historySec{
    padding:20px 0;
    p {
      margin:30px auto;
      font-size: 16px;
      line-height: 21px;
    }
  }
}

////// beforeAfterSection

.beforeAfterSec {
  background-image: url('../img/beforeAfter/beforeAfterBg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding:50px 0;
  .beforeAfter {
    margin: 50px 10em;
    text-align: center;
    .item {
      li {
        width: 45%;
        height: 400px;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center center;
      }
      li:nth-child(1) {
        display: inline-block;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color:#fff;
        background-size: auto 100%;
      }
      li:nth-child(2) {
        display: inline-block;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color:#fff;
        background-size: auto 100%;
      }
      .bg1 {
        background-image: url("../img/beforeAfter/beforeFront.png");
      }
      .bg2 {
        background-image: url("../img/beforeAfter/beforeBack.png");
      }
      .bg3 {
        background-image: url("../img/beforeAfter/beforeRight.png");
      }
      .bg4 {
        background-image: url("../img/beforeAfter/beforeLeft.png");
      }

    }
    .slick-prev,
    .slick-next {
      width: 40px;
      height: 60px;
    }
    .slick-prev {
      left:-45;
      background-image: url('../img/beforeAfter/leftArr.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .slick-prev::before,
    .slick-next::before {
      content:'';
    }
    .slick-next {
      right: -45px;
      background-image: url('../img/beforeAfter/rightArr.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
@media screen and (max-width: 768px) {
  .beforeAfterSec {
    .beforeAfter{
      margin: 30px 0;
    }
  }
}

////// quoteSection

.quoteSec {
  color:#fff;
  background-color:#ffb33b;
  background-image:url('../img/quote/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:50px 0;
  p {
    font-size: 18px;
    margin-top:30px;
  }
  .quote {
    font-size: 28px;
    max-width: 495px;
    text-align: left;
    margin:30px auto 0;
  }
  .quote:before {
    position: absolute;
    content:"‹‹";
    width: 30px;
    height: 30px;
    font-size: 78px;
    line-height: 30px;
    margin-left: -80px;
  }
  .quote:after {
    position: absolute;
    content:"››";
    font-size: 78px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    margin-left: 220px;
  }
  ul {
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 50px auto 20px;
    li {
      margin:0 10px 0 0;
      font-size:18px;
    }
  }
}

 @media screen and (max-width: 768px) {
  .quoteSec {
    padding:30px 0;
    .quote:after,quote:before{
      display: none;
    }
  }
 }


////// offlineTrainingSection

////////////////////////////////////////////////////////////////////
//////wrpapRulIcon COMMON FOR offlineTrainingSec and rulesSec//////

.wrpapRulIcon {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-left: 100px;
     .item {
        max-width: 200px;
        color: #fff;
        margin: 20px;
        position: relative;
        font-size: 17px;
      .imgWrap {
        height: 80px;
        line-height: 80px;
        img {
          vertical-align: middle;
        }
      }
      .imgWrap:before {
        content: "│";
        color: #d8003d;
        position: absolute;
        transform: rotate(145deg);
        margin: 0 0 0 -16px;
        font-weight: 200;
        bottom:85px;
        left: -4px;
      }
      .imgWrap:after {
        content: "│";
        color: #d8003d;
        position: absolute;
        transform: rotate(145deg);
        margin: -35px 0 0 -15px;
        font-weight: 200;
        bottom: 100px;
        left: -15px;
      }
      p {
        margin-top: 30px;
      }
     }
  }

  @media screen and (max-width: 768px) {
  
  .wrpapRulIcon {
    margin:0;
    .item {
      max-width:none;
      .imgWrap {
        text-align: center;
        &:before,&:after{
          display: none;
        }
      }
    }
  }
}

//////wrpapRulIcon COMMON FOR offlineTrainingSec and rulesSec///////
////////////////////////////////////////////////////////////////////

.offlineTrainingSec {
  background-image: url('../img/offline/bg.png');
  background-size: cover;
  background-position: center center;
  padding:80px 0;
  background-color:#000;
  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
  }
  .wrpapRulIcon {
    .imgWrap:after {
      bottom: 294px;
      left: -21px;
    }
    .imgWrap:before {
      font-weight: 200;
      bottom: 280px;
      left: -10px;
    }
  }
}
@media screen and (max-width: 768px) {
  .offlineTrainingSec {
    padding: 30px 0;
    .wrpapRulIcon {
      margin:0;
      .item {
        max-width:none;
        .imgWrap {
          text-align: center;
          &:before,&:after{
            display: none;
          }
        }
      }
    }
  }
}


////// feedbackSection 

.feedbackSec {
  padding:50px 0;
  background-image: url('../img/feedbackSec/pinkBg2.png');
  background-size: cover;
  background-position: center;
  h1 {
    color: #fff;
  }
  p.text-center {
    color: #fff;
  }
  .feedbackCarousel {
    margin: 0 10em;
    .item {
      padding: 0px 65px;
      li:nth-child(1) {
        padding:0 0 0 40px ;
        label {
         height: 150px;
          overflow: hidden;
          margin-top: 30px;
          color: #000;
          span:nth-child(1) {
            border:4px solid #000;
            width: 150px;
            height: 150px;
            background-color: #000;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 50%;
            display: inline-block;
          }
          span:nth-child(1).artem {
            background-image:url('../img/feedbackSec/2_tren.jpg');
          }
          span:nth-child(1).ulia {
            background-image:url('../img/feedbackSec/1_tren.png');
          }

          span:nth-child(2) {
            display: inline-block;
            vertical-align: middle;
            height: 200px;
            margin-left: 40px;
            font-size: 22px;
          }
        }
      }
      li:nth-child(2) {
        margin:10px 0 0 60px;
        width: 100px;
        text-align: center;
        color: #fff;
        display:inline-block;
        line-height:13px;
      }
      li:nth-child(2).Srt4 {
        margin:0px 0 0 60px;
      }

      li:nth-child(3) {
        display: inline-block;
        vertical-align: top;
        max-width: 200px;
        margin: -20px 0 0 70px;
        max-width: 66%;
      }
      li:nth-child(4) {
        background-color: red;
      }
    }
    .slick-prev,
    .slick-next {
      width: 40px;
      height: 60px;
    }
    .slick-prev {
      left:-45;
      background-image: url('../img/feedbackSec/leftArrW.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .slick-prev::before,
    .slick-next::before {
      content:'';
    }
    .slick-next {
      right: -45px;
      background-image: url('../img/feedbackSec/rightArrW.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
@media screen and (max-width: 768px) {
  .feedbackSec {
    padding:30px 0;
    .feedbackCarousel {
      margin: 0;
      .item {
        padding: 0 5px;
        display: flex;
        flex-wrap: wrap;
        li:nth-child(1) {
         padding: 0;
         label {
          span:nth-child(2){
            position: absolute;
            margin-left:0;
            font-size:18px;
           }
         }
        }
        li:nth-child(2) {
          position: absolute;
          margin:90px 0 0 20px;
        }
        li:nth-child(3){
          max-width:none;
          margin: 0;
        }
      }
      .slick-dots {
        bottom:-25px;
        li.slick-active{
          button::before {
            color:#fff;
          }
        }
      }
    }
  }
}

////// rulesSection

.rulesSec {
  background-color:#262626;
  padding:50px 0;
  .wrpapRul {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: #fff;
      margin-left: 180px;
    }
    span {
      margin-left: 60px;
      a {
      color: #fff;
        text-decoration: underline;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .rulesSec {
    padding: 30px 0;
    .wrpapRul {
      h1 {
        margin:0;
      }
    }
    
  }

}

////// FAQsection 

.FAQsec {
  padding:80px 0;
  background-color:#e2e2e2;
  h1 {
    max-width: 300px;
    margin:0 auto 80px;
    text-align: center;
  }
  .item {
    input{
      display: none;
    }
    label {
      color: #000;
      font-weight:800;
      font-size: 26px;
      cursor: pointer;
      &:before {
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
        display: inline-block;
        content:"+";
        height:40px;
        width: 40px;
        margin-right: 25px;
        border-radius: 50%;
        font-size: 45px;
        font-weight: 800;
        border:2px solid $red;
        background-color:$red;
        color:#fff;
        transition:background-color .4s, color .4s;
      }
    }
    input:checked + label {
      &:before {
        background-color: transparent;
        border:2px solid;
        color: $red;
        content:"-";
      }
    }
    input:checked ~ article {
      p {
        display:block;
        opacity:1;
      }
    }
    article {
      p {
        opacity:0;
        font-size: 18px;
        margin-left: 65px;
        transition:opacity .4s;
        display: none;
      }
    }
  }
  .item:not(:last-child) {
    margin-bottom:20px;
  }
}
////// btnStartSection

.btnStartSec {
  padding:50px 0;
  background-color:#262626;
}

////// partnersSection
.partnersSec {
  padding:30px 0;
  .partnerCarousel {
    // display: flex;
    text-align: center;
    margin-top: 40px;
    // justify-content:center;
    .slick-track {
      // display: flex;
      // justify-content:center;
      // align-items:center;
      // align-content:center;
      margin: auto;
    }
    .partners {
      .item {
          position: relative;
          margin:0px 30px;
          text-align: center;
          img { 
            max-width: 200px;
            margin: auto;
          }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .FAQsec {
    padding:30px 0;
    h1 {
      margin:0 auto;
    }
  }
}

////// sendMailSection
.sendMailSec {
  background-color:#2b2b2b;
  padding:0 0 20px;
  h1 {
    text-align: center;
    color: #fff;
  }
  form {
    margin:20px 0;
    .redBtn {
      font-weight: 200;
      margin: auto;
      display: block;
      width: 200px;
      font-size: 20px;
    }
    .selectType {
      display: flex;
      justify-content:space-around;
      flex-wrap: wrap;
      margin-bottom: 20px;
      input[type="radio"]{
        display: none;
      }
      .hide-radio + label {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          padding: 0;
          background-color: #F5F5F5;
          color: #8C8C9C;
          font-size: 16px;
          transition: background-color 0.3s ease-in-out;
          line-height: 12px;
          text-indent: 20px;
          margin-left: -60px;
        }
        .hide-radio:checked + label {
          display: inline-block;
          background-color:$red;
          color:#fff;
        }
    }
    .typeInput {
      display: flex;
      justify-content:space-between;
      margin-bottom: 20px;
      flex-wrap: wrap;
      input {
        width: 47%;
        border-radius: 20px;
        background-color:#dcdcdc;
        border: 0;
        height: 40px;
        padding:10px;
        font-size: 17px;
      }
    }
    .mailParth {
      margin-bottom: 20px;
      textarea{
        min-width: 100%;
        max-width: 100%;
        min-height: 50px;
        border-radius: 20px;
        border-top-left-radius:0;
        border-top-right-radius:0;
        border: 0;
        font-size: 17px;
        padding:15px;
      }
      input {
        width: 100%;
        border-top-left-radius:20px;
        border-top-right-radius:20px;
        height: 40px;
        border: 0;
        background-color:#dcdcdc;
        font-size: 17px;
        padding:10px;
      }
    }
  }
  .thankU {
  	h1 {
	  	padding: 50px 0;
	  	color:#d8003d;
  	}
  }
}

////// footer

footer {
  background-color:#8b8b8b;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10em;
  .navWrap {
    flex:1 0 auto;
  }
  a {
    color:#000;
    text-align: left;
    transition:color .4s;
    &:hover,&:focus {
      color:$red;
    }
  }
  .socialWrap {
    display: flex;
    align-items: center;
    li:not(:last-child) {
      margin-right: 15px;
    }
  }
}

////// BUTTONS 

.grayBtn {
  background-color:$gray;
  padding:15px 25px;
  border:0;
  border-radius: 25px;
  color: #fff;
  font-size:$fzNAV;
}
.redBtn {
  background-color: $red;
  padding:10px 25px;
  border:2px solid $red;
  border-radius: 25px;
  color: #fff;
  font-size:20px;
  transition:background-color .4s,color .4s;
  &:hover{
  	background-color: #fff;
	color: $red;
	border:2px solid $red;
  }
}





///////////////////////////////////////////////////////////////////////////////
//////////////////////////////PROFILEPAGE//////////////////////////////////////
//////////////////////////////PROFILEPAGE//////////////////////////////////////
//////////////////////////////PROFILEPAGE//////////////////////////////////////
//////////////////////////////PROFILEPAGE//////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

////// user_dataSection


.user_data {
  background-color: #fff;
  .user_data_titel {
    padding: 30px 0;
    h2 {
      display: inline-block;
      padding-left: 27%;
      padding-right: 80px;
    }
    p {
      display: inline-block;
      padding-right: 20px;
      position: relative;
      top: 9px;
    }
  }
  .form {
    input,button {
      border: none;
      border-radius:50px;
      background-color: #f5f5f5;
      color: #a0a0a0;
      font-size: 20px;

    }
    .motivation_word {
      width: 100%;
      text-align: center;
      padding: 10px 20px;
      margin-top:30px;
    }
    .user_data_btn {
      height: 300px;
      width: 30%;
      margin-top: 30px;
    }
    .btn_left {
      border-radius: 10px 0 0 10px;
    }
    .btn_center {
      border-radius: 0 10px 10px 0;
    }
    .btn_right {
      margin-left: 20px; 
      border-radius:10px;
    }
  }
  .user_paramentry {
    ul {
      display: inline-block;
      width: 45%;
      li {
        margin: 10px 0;
        input {
          width: 100%;
          padding: 10px 0 10px 12px;
        }
      }
    }
  }
  .footer_user_data {
  	margin-bottom: 70px;
    .pink {
      padding: 20px 0;
    }
  }
}
.lk_tariff {
  border-bottom: none;
  .titel_tariff {
      color: #fff;
      font-size: 40px;
      font-weight: bold;
      font-family: meta;
  }
  .infinity {
    .redBtn {
      margin: 30px auto 100px;
    }
    .DrugsBtn {
      margin: 10px -50px;
    }
  }
}
.week_plan_drugs_eat {
  background-color: #e8698d;
  background-image: url("../img/lk/bg_plan.png");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  button {
    margin: 5px 5px 20px 5px; 
    width: 163px;
  }
  .titel_tariff {
      color: #fff;
      font-size: 50px;
      font-weight: bold;
      margin: 0;
      padding: 70px 0 30px 0; 
      font-family: meta;
  }
  .table_plan {
    padding-bottom:70px;
    h3 {
      color: #000;
      font-style: italic;
      padding-left: 10px;
      font-size: 40px;
      font-weight: bold;
      font-family: meta;
    }
    p {
      color: #fff;
      padding-left: 10px;
      padding-bottom: 30px;
      font-size: 20px;
      height: 90px;
    }
    table {
      width: 100%;
      thead {
        tr {
          td {
            color: #000;
            padding: 0px 10px 10px 10px;
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 0px 10px 10px 10px;
            color: #fff;
            vertical-align: top;
          }
          td:nth-child(2) {
            border-right: 1px solid #fff;
          }
        }
      }
    }
  }
}

////// calculateSection

.calculate {
  background-color: #52acff;
  background-image: url("../img/calculate/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 390px;
  input,select {
      border: none;
      border-radius:50px;
      background-color: #f5f5f5;
      color: #a0a0a0;
      font-size: 20px;
      padding: 10px;
      width: 150px;
  }
  select {
  -webkit-appearance: none;
    background-repeat: no-repeat;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
    background-image: url('../img/calculate/arrowBottom.png');
    background-position: right 15px;
    &.activity {
      width: 200px;
    }
  }
  select::-ms-expand {
      display: none;
  }
  p {
    color: #fff;
    padding: 30px 0;
  }
  h2 {
      color: #fff;
      font-size: 40px;
      font-weight: bold;
      font-family: meta;
      padding: 25px 0;
  }
  ul {
    width: 30%;
    display: inline-block;
    li {
      font-size: 30px;
      color: #fff;
      font-family: meta;
      span {
        color: #000;
        font-size: 32px;

      }
    }
    li:nth-child(1) {
      font-size: 30px;
      color: #000;
    }
    li:nth-child(2) {
      font-size: 50px;
      color: #fff;
      padding: 10px 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .calculate {
    padding-bottom: 20px;
    form {
      input, select {
        margin-bottom: 20px;
      }
      select.activity {
        margin: 0;
      }
    }
  }
}

////// trainMailSection

.trainMail {
  position: relative;
  background-color: #52acff;
  background-image: url("../img/trainMailSection/bg_form.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 415px;
  .foto {
    color: #fff;
    font-size: 18px;
  }
  .load {
    color: #fff;
    margin: 20px 30px 30px 0;
    font-size: 18px;
  }
  .btn_black {
    margin-bottom: 50px;
  }
}

.center-align {
  position: absolute;
  height: 100%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
