<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bbtr</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="node_modules/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="node_modules/slick-carousel/slick/slick-theme.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navBar">
      <nav class="wrapper">
        <div class="logo">
          <img  alt="logo" class="desctopLogo" src="img/header/logoNav.png" name="Быть лучше" ui-sref="bbetter.landing"/>
          <img  alt="logo" class="mobileLogo" src="img/header/logoNavMob.png" name="Быть лучше" ui-sref="bbetter.landing"/>
        </div>
        <input type="checkbox" id="menuToggle">
          <label for="menuToggle" class="label-toggle">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </input>
        <ul>
          <a class="navWlaker" href="#fiveStep" >
            <li>
            5 шагов,<br/> чтобы быть<br/> лучше
            </li>
          </a>
          <a class="navWlaker" href="#contestSec">
            <li>
            Выиграть<br/> 200 000
            </li>
          </a>
          <a class="navWlaker" href="#tariffSec">
            <li>
            Принять<br/> участие
            </li>
          </a>
          <a class="navWlaker" href="#beforeAfterSec">
            <li>
            Увидеть<br/> примеры
            </li>
          </a>
          <a class="navWlaker" href="#feedbackSec">
            <li>
            О тренерах
            </li>
          </a>
          <a class="navWlaker" href="#partnersSec">
            <li>
            Партнеры<br/> программы
            </li>
          </a>
        </ul>
        <ul class="right">
          <a ng-show="!$ctrl.user.authorized" href="index.html">Выйти</a>
          <!-- <a ng-show="$ctrl.user.authorized" ng-click="$ctrl.logout()" href="">Выйти</a> -->
          <button class="grayBtn" type="button" onclick="yaCounter38070020.reachGoal('registracija'); return true;" type="button">Регистрация</button>
          <!--
          <button class="grayBtn menuLoginBtn"><span>user name</span></button>
           <div class="menuLogin text-center" >
            <div class="menuLoginWrap">
              <p><a class="" >Кабинет</a></p>
              <p><a class="" ><span>Редактировать</span></a></p>
              <p><a class=""><span>Выйти</span></a></p>
            </div>
          </div> -->
        </ul>
      </nav>
    </nav>

    <section class="lineSec" id="fiveStep">
      <h1>Тариф &laquo;Парный старт&raquo;</h1>
    </section>
    
    <section class="user_data">
      <div class="container ">
        <div class="row">
          <!-- <div class="col-md-12 text-center user_data_titel">
            <h2>Дина Богачева</h2>
            <p>Доступно еще<br> <span class="pink">2</span> участника</p>
            <button class="redBtn">Пригласить</button>
          </div> -->
          <div class="col-md-12 text-left form">
             <input type="text" placeholder="Мотивирующие слова" class="motivation_word">
             <div class="row"> 
                <div class="col-md-9">
                  <button class="user_data_btn btn_left text-center">Загрузить <br> <<До>></button>
                  <button class="user_data_btn btn_center text-center">Загрузить <br> <<После>></button>
                  <button class="user_data_btn btn_right text-center">Загрузить <br> Мотивашку</button>
                </div>
                <div class="col-md-3 text-center user_paramentry">
                  <h3>Показатели участника</h3>
                  <p>Замеры веса и объемов производить<br> в расслабленном состоянии и минимуме одежды.</p>
                  <ul>
                    <li><input type="text" placeholder="Вес"></li>
                    <li><input type="text" placeholder="Рост"></li>
                    <li><input type="text" placeholder="Возраст"></li>
                  </ul>
                  <ul style="margin-left: 20px;">
                    <li><input type="text" placeholder="Грудь"></li>
                    <li><input type="text" placeholder="Талия"></li>
                    <li><input type="text" placeholder="Бедра"></li>
                  </ul>
                </div>
             </div>
          </div>
          <div class="col-md-12 text-center footer_user_data">
            <p class="pink " style="">Загрузка фотографий станет доступной после оплаты тарифа</p>
            <button class="redBtn" >Сохранить изменения</button>
              <br/><br/>
            <button class="redBtn">Ещё</button>
          </div>
        </div>
      </div>
    </section>
    <section class="tariffSec" id="tariffSec">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="wrapper">
                <div class="itWrap">
                  <h2>Спортсмен<br/> одиночка</h2>
                  <p>1 человек</p>
                  <span>2 000 <i class="fa fa-rub"></i></span>
                  <button class="redBtn" ng-show="!ctrl.user.authorized" ng-click="ctrl.registrationPopup.registration()">Это я!</button>
                </div>
                <div class="itWrap">
                  <h2>Парный<br/> старт</h2>
                  <p>2 человека</p>
                  <span>3 000 <i class="fa fa-rub"></i></span>
                  <button class="redBtn" ng-show="!ctrl.user.authorized" ng-click="ctrl.registrationPopup.registration()">Это мы!</button>
                </div>
                <div class="itWrap">
                  <h2>Командный <br/>зачет</h2>
                  <p>5 человек</p>
                  <span>5 000 <i class="fa fa-rub"></i></span>
                  <button class="redBtn" ng-show="!ctrl.user.authorized" ng-click="ctrl.registrationPopup.registration()">Начать!</button>
                </div>
                <!-- <div class="itWrap">
                  <h2>Допинг</h2>
                  <p>Доспупен каждую неделю за исключением финала. Дает возможность проходить в следующий уровень без недельного соревнования</p>
                  <span>1 000 <i class="fa fa-rub"></i></span>
                  <div class="DrugsBtnWrap">
                    <button class="DrugsBtn"></button>
                  </div>
                </div> -->
              </div>
          </div>
        </div>
      </div>
    </section>
    <section class="calculate">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <form name="calorieCalculatorForm" ng-submit="$ctrl.calculate(parameters)">
              <h2>Калькулятор калорий</h2>
              <input type="text" placeholder="Возраст" ng-model="parameters.age" required>
              <select ng-model="parameters.sex" required>
                <option disabled selected style="display:none;">Пол</option>
                <option value="male">М</option>
                <option value="female">Ж</option>
              </select>
              <input type="text" placeholder="Вес, кг" ng-model="parameters.weight" required>
              <input type="text" placeholder="Рост, см" ng-model="parameters.height" required>
              <select class="activity" required>
                <option disabled selected style="display:none;">Активность</option>
                <option>Минимальная</option>
                <option>Слабая</option>
                <option>Средняя</option>
                <option>Высокая</option>
                <option>Экстра-активность</option>
              </select>
              <p>Расчёт ежедневного потребления калорий можно произвести по двум разным
                <br> методикам: одной из самых современных, по формуле Миффлина-Сан Жеора
              </p>
              <button class="redBtn" ng-disabled="calorieCalculatorForm.$pristine || calorieCalculatorForm.$invalid">Рассчитать</button>
            </form>
            <!-- <div ng-show="$ctrl.caloriesPerDay">
              <h2><span ng-bind="$ctrl.caloriesPerDay"></span><span> ккал</span></h2>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <section class="sendMailSec trainMail">
      <div class="container" ng-hide="$ctrl.messageWasSent" >
        <div class="row">
          <div class="col-md-12">
            <h1>Задать вопросы тренеру и диетологу</h1>
            <form name="contactTrainerForm" ng-submit="$ctrl.contactTrainer(message)">
              <div class="row">
                <div class="col-md-offset-2 col-md-8">
                  <ul class="mailParth">
                    <input type="text" ng-model="message.theme" placeholder="Тема" required />
                    <textarea ng-model="message.text" placeholder="Ваше сообщение" rows="6" required></textarea>
                  </ul>
                </div>
                <div class="col-md-offset-2 col-md-8">
                  <button class="redBtn" type="submit" ng-disabled="contactTrainerForm.$pristine || contactTrainerForm.$invalid">Отправить</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- <div class="container center-align" ng-show="$ctrl.messageWasSent">
        <h1>Ваше сообщение успешно отправлено</h1>
      </div> -->
    </section>



    <footer>
      <div class="logoWrap">
        <img src="img/footer/logoFooter.png" class="img-responsive" alt="logo" name="лого" />
      </div>
      <div class="navWrap hidden-xs">
        <a href="">Купить</a><br/>
        <a href="">Публичная оферта</a>
      </div>
      <ul class="socialWrap">
        <li>Мы в соцсетях:</li>
        <li>
          <a href="https://www.instagram.com/bbetter.club" target="_blank">
            <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="http://vk.com/bbetter_club" target="_blank">
            <i class="fa fa-2x fa-vk" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/bbetterclub" target="_blank">
            <i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/slick-carousel/slick/slick.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>