<!-- <div class="video_otchet">
  <div class="headerWrap">
    <h2 ng-class="{'active_title' : $ctrl.instructionsDisplayed}" ng-click="$ctrl.displayInstructions()">Видео-инструкции</h2>
    <h2 ng-class="{'active_title' : !$ctrl.instructionsDisplayed}" ng-click="$ctrl.displayReports()">Мои видео-отчеты</h2>
  </div>

  <div class="videoInstruction"  ng-show="$ctrl.instructionsDisplayed">
    <div class="item" ng-repeat="instruction in $ctrl.instructions">
      <input id="ac-{{$index + 1}}" name="accordion-1" type="radio" checked />
      <label for="ac-{{$index + 1}}" ng-bind="$index + 1"></label>
      <article class="ac-small">
        <div class="content">
          <iframe class="videoSec" src="https://www.youtube.com/embed/OPmOXJtxxoo" frameborder="0" allowfullscreen></iframe>
        </div>
      </article>
    </div>
  </div>

  <div ng-hide="$ctrl.instructionsDisplayed" class="videoInstruction">
    <div ng-repeat="report in $ctrl.reports" class="item">
      <input id="ac2-{{$index + 1}}" name="accordion-2" type="radio" checked />
      <label for="ac2-{{$index + 1}}" ng-bind="$index + 1"></label>
      <article class="ac-small">
        <div class="content">
          <div ng-show="$ctrl.selectedReport === report">
                <iframe ng-show="report.youtube_code" width="822" height="410" src="{{report.youtube_code | trustedYoutubeUrl}}" allofullscreen></iframe>
                <div ng-hide="report.youtube_code" >
                  <form ng-submit="$ctrl.uploadVideo(youtubeUrl)">
                    <div class="row-md-12">
                      <input class="btn_black" ng-model="youtubeUrl"placeholder="Код видео на YouTube.com"/>
                    </div>
                    <div class="row-md-12">
                      <button class="btn_black" type="submit">Загрузить видео</button>
                    </div>
                  </form>
                </div>
              </div>

        </div>
      </article>
    </div>
  </div>
</div> -->



<div class="video_otchet">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 text-right">
          <h2 ng-class="{'active_title' : $ctrl.instructionsDisplayed}" ng-click="$ctrl.displayInstructions()">Видео-инструкции</h2>
        </div>
        <div class="col-md-6 text-left">
          <h2 ng-class="{'active_title' : !$ctrl.instructionsDisplayed}" ng-click="$ctrl.displayReports()">Мои видео-отчеты</h2>
        </div>
        <!--  video instructions -->
        <div ng-show="$ctrl.instructionsDisplayed">
          <div ng-repeat="instruction in $ctrl.instructions" class="col-md-12 text-center">
            <div class="round " ng-class="{'round_active': $ctrl.selectedInstruction === instruction}" ng-click="$ctrl.selectInstruction(instruction)">
              <h2 ng-bind="$index + 1"></h2>
            </div>
            <div class="accord" ng-class="{'accord_active': $ctrl.selectedInstruction === instruction}">
              <div ng-show="$ctrl.selectedInstruction === instruction">
                <img src="img/youtube.png">
              </div>
            </div>
          </div>
        </div>
        <!--  video instructions -->

        <div ng-hide="$ctrl.instructionsDisplayed">
          <div ng-repeat="report in $ctrl.reports" class="col-md-12 text-center">
            <div class="round " ng-class="{'round_active': $ctrl.selectedReport === report}" ng-click="$ctrl.selectReport(report)">
              <h2 ng-bind="report.day"></h2>
            </div>
            <div class="accord" ng-class="{'accord_active': $ctrl.selectedReport === report}">
              <div ng-show="$ctrl.selectedReport === report">
                <iframe ng-show="report.youtube_code" width="822" height="410" src="{{report.youtube_code | trustedYoutubeUrl}}" allofullscreen></iframe>
                <div ng-hide="report.youtube_code" >
                  <form ng-submit="$ctrl.uploadVideo(youtubeUrl)">
                    <div class="row-md-12">
                      <input class="btn_black" ng-model="youtubeUrl"placeholder="Код видео на YouTube.com"/>
                    </div>
                    <div class="row-md-12">
                      <button class="btn_black" type="submit">Загрузить видео</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>