<nav class="navBar">
  <nav class="wrapper">
    <div class="logo">
      <img  alt="logo" class="desctopLogo" src="img/logoNav.png" name="Быть лучше" ui-sref="bbetter.landing"/>
      <img  alt="logo" class="mobileLogo" src="img/logoNavMob.png" name="Быть лучше" ui-sref="bbetter.landing"/>
    </div>
    <input type="checkbox" id="menuToggle">
      <label for="menuToggle" class="label-toggle">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </input>
    <ul>
      <a class="navWlaker" href="#fiveStep">
        <li>
        5 шагов,<br/> чтобы быть<br/> лучше
        </li>
      </a>
      <a class="navWlaker" href="#contestSec">
        <li>
        Выиграть<br/> 200 000
        </li>
      </a>
      <a class="navWlaker" href="#tariffSec">
        <li>
        Принять<br/> участие
        </li>
      </a>
      <a class="navWlaker" href="#beforeAfterSec">
        <li>
        Увидеть<br/> примеры
        </li>
      </a>
      <a class="navWlaker" href="#feedbackSec">
        <li>
        О тренерах
        </li>
      </a>
      <a class="navWlaker" href="#partnersSec">
        <li>
        Партнеры<br/> программы
        </li>
      </a>
    </ul>
   <ul class="right">
      <a ng-show="!$ctrl.user.authorized" ng-click="$ctrl.registrationHeader.login()" href="">Войти</a>
      <button class="grayBtn" ng-show="!$ctrl.user.authorized" ng-click="$ctrl.registrationHeader.registration();" onclick="yaCounter38070020.reachGoal('registracija'); return true;" type="button">Регистрация</button>
      <div class="grayBtn menuLoginBtn" tabindex="0" ng-show="$ctrl.user.authorized"><span ng-bind="$ctrl.user.name"></span></div>
      <div class="menuLogin text-center" >
        <div class="menuLoginWrap">
          <p><a class="" ui-sref="bbetter.profile">Кабинет</a></p>
          <p><a class="" ng-click="$ctrl.registrationHeader.editProfile();"><span>Редактировать</span></a></p>
          <p><a class="" ng-click="$ctrl.registrationHeader.logout();"><span>Выйти</span></a></p>
        </div>
      </div>
    </ul>
  </nav>
</nav>
