<div class="sendMailSec trainMail">
  <div class="container" ng-hide="$ctrl.messageWasSent" >
    <div class="row">
      <div class="col-md-12">
        <h1>Задать вопросы тренеру и диетологу</h1>
        <form name="contactTrainerForm" ng-submit="$ctrl.contactTrainer(message)">
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
              <ul class="mailParth">
                <input type="text" ng-model="message.theme" placeholder="Тема" required />
                <textarea ng-model="message.text" placeholder="Ваше сообщение" rows="6" required></textarea>
              </ul>
            </div>
            <div class="col-md-offset-2 col-md-8">
              <button class="redBtn" type="submit" ng-disabled="contactTrainerForm.$pristine || contactTrainerForm.$invalid">Отправить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container center-align" ng-show="$ctrl.messageWasSent">
    <h1>Ваше сообщение успешно отправлено</h1>
  </div>
</div>
