<div class="calculate">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <form name="calorieCalculatorForm" ng-submit="$ctrl.calculate(parameters)">
          <h2>Калькулятор калорий</h2>
          <input type="text" placeholder="Возраст" ng-model="parameters.age" required>
          <select ng-model="parameters.sex" required>
            <option value="">Пол</option>
            <option value="male">М</option>
            <option value="female">Ж</option>
          </select>
          <input type="text" placeholder="Вес, кг" ng-model="parameters.weight" required>
          <input type="text" placeholder="Рост, см" ng-model="parameters.height" required>
          <select class="activity" ng-model="parameters.activity" required>
            <option value="">Активность</option>
            <option ng-repeat="activity in $ctrl.activities" ng-value="activity.coefficient" ng-bind="::activity.name"></option>
          </select>
          <p>Расчёт ежедневного потребления калорий можно произвести по двум разным
            <br> методикам: одной из самых современных, по формуле Миффлина-Сан Жеора
          </p>
          <button class="redBtn" ng-disabled="calorieCalculatorForm.$pristine || calorieCalculatorForm.$invalid">Рассчитать</button>
        </form>
        <div ng-show="$ctrl.caloriesPerDay">
          <h2><span ng-bind="$ctrl.caloriesPerDay"></span><span> ккал</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>
