<div class="modalSec">
  <div class="modal-header">
    <button ng-click="ctrl.close()" type="button" class="close">&times;</button>
    <img class="modalLogo" src="../img/infinityModal.png" alt="logo modal" />
  </div>
  <div class="modal-body">
    <p>Sorry, but this functionality is not implemented yet :(</p>
  </div>
  <div class="modal-footer">
    <button class="redBtn" type="button" ng-click="ctrl.close()">OK</button>
    <button class="redBtn" type="button" ng-click="ctrl.close()">Cancel</button>
  </div>
</div>
