<div class="user_data">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12 text-center user_data_titel">
        <h2>Дина Богачева</h2>
        <p>Доступно еще
          <br> <span class="pink">2</span> участника</p>
        <button class="redBtn" type="button">Пригласить</button>
      </div> -->
      <div class="col-md-12 text-left form">
        <form name="summariesForm" ng-submit="$ctrl.save($ctrl.summaries)">
          <div ng-repeat="summary in $ctrl.summaries | orderBy:'-'" class="summary">
            <input type="text" placeholder="Мотивирующие слова" ng-model="summary.motivation_words" class="motivation_word" required />
            <div class="row">

              <div class="col-sm-12 col-md-9">
                <file-upload-button ng-hide="summary.before" file-url="summary.before" label="Загрузить &laquo;До&raquo;" class="btn_left"></file-upload-button>
                <div ng-show="summary.before" class="preview preview_left">
                  <img ng-src="{{summary.before}}">
                </div>
                <file-upload-button ng-hide="summary.after" file-url="summary.after" label="Загрузить &laquo;После&raquo;" class="btn_center"></file-upload-button>
                <div ng-show="summary.after" class="preview preview_center">
                  <img ng-src="{{summary.after}}">
                </div>
                <file-upload-button ng-hide="summary.motivation" file-url="summary.motivation" label="Загрузить &laquo;Мотивашку&raquo;" class="btn_right"></file-upload-button>
                <div ng-show="summary.motivation" class="preview preview_right">
                  <img ng-src="{{summary.motivation}}">
                </div>
              </div>
              <div class="col-sm-12 col-md-3 text-center user_paramentry">
                <h3>Показатели участника</h3>
                <p>Замеры веса и объемов производить
                  <br> в расслабленном состоянии и минимуме одежды.</p>
                <ul>
                  <li>
                    <input type="text" ng-model="summary.weight" placeholder="Вес" required>
                  </li>
                  <li>
                    <input type="text" ng-model="summary.height" placeholder="Рост" required>
                  </li>
                  <li>
                  <input type="text" ng-model="summary.age" placeholder="Возраст" required>
                    </li>
                </ul>
                <ul style="margin-left: 20px;">
                  <li>
                    <input type="text" ng-model="summary.chest" placeholder="Грудь" required>
                  </li>
                  <li>
                    <input type="text" ng-model="summary.waist" placeholder="Талия" required>
                  </li>
                  <li>
                  <input type="text" ng-model="summary.thigh" placeholder="Бедра" required>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer_user_data">
            <div class="col-md-12 text-center ">
              <p class="pink">Загрузка фотографий станет доступной после оплаты тарифа</p>
              <button class="redBtn" type="submit" ng-disabled="summariesForm.$pristine ||summariesForm.$invalid">Сохранить изменения</button>
            </div>
            <div class="col-md-12 text-center footer_user_data">
              <button class="redBtn" ng-click="$ctrl.addMore()" type="button">Еще</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
