<div class="tariffSec" id="tariffSec">
  <div class="container">
    <div class="row">
      <h1>Что берем?</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="wrapper">
          <div ng-repeat="tariff in $ctrl.tariffs" class="itWrap">
            <h2 ng-bind="::tariff.name"></h2>
            <p class="text-small">
              <span ng-bind="::tariff.people_number"></span>
              <span ng-show="tariff.people_number === 2">&nbsp;человека</span>
              <span ng-hide="tariff.people_number === 2">&nbsp;человек</span>
            </p>
            <p><span ng-bind="::tariff.price"></span><i class="fa fa-rub"></i></p>
            <payment-button ng-if="tariff.people_number === 1" button-class="redBtn" title="Это я!" tariff="tariff"></payment-button>
            <payment-button ng-if="tariff.people_number !== 1" button-class="redBtn" title="Это мы!" tariff="tariff"></payment-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
