<div class="modal-content">
  <div class="modal-header">
    <button ng-click="ctrl.close()" type="button" class="close">&times;</button>
    <img class="modalLogo" src="../img/infinityModal.png" alt="logo modal" />
  </div>
  <div class="modal-body">
    <div class="formWrapper">
      <form name="registrationForm" ng-submit="ctrl.edit(user)">
        <div class="row">
          <div ng-init="user.name = ctrl.user.name" class="col-md-12">
            <input ng-model="user.name" type="text" placeholder="Имя" required/>
          </div>
        </div>
        <div class="row">
          <div ng-init="user.email = ctrl.user.email" class="col-md-12">
            <input ng-model="user.email" type="email" placeholder="Электронная почта" required/>
          </div>
        </div>
        <div class="row">
          <div ng-init="user.city = ctrl.user.city" class="col-md-12">
            <input ng-model="user.city" type="text" placeholder="Город" required/>
          </div>
        </div>
        <div class="row">
          <div  ng-init="user.age = ctrl.user.age" class="col-md-6">
            <input ng-model="user.age" type="text" placeholder="Возраст" required/>
          </div>
          <div ng-init="user.sex = ctrl.user.sex"class="col-md-6 text-right">
            <input ng-model="user.sex" type="radio" id="radioMale" class="hide-radio" value="male" />
            <label for="radioMale">M</label>
            <input ng-model="user.sex" type="radio" id="radioFemale" class="hide-radio" value="female" />
            <label for="radioFemale">Ж</label>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-12">
              <p class="redLabel">Заполните, пожалуйста, все поля!</p>
              <button type="submit" name="submit" class="redBtn" ng-disabled="registrationForm.$pristine || registrationForm.$invalid">Сохранить</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!--  formWrapper -->
  </div>
  <!-- modal-body -->
</div>
