<div class="modalSec">
  <div class="modal-content">
    <div class="modal-header">
      <button ng-click="ctrl.close()" type="button" class="close">&times;</button>
      <img class="modalLogo" src="../img/infinityModal.png" alt="logo modal" />
    </div>
    <div class="modal-body">
      <div class="formWrapper">
        <form name="registrationForm" ng-submit="ctrl.register(user)">
          <div class="row">
            <div class="col-md-12">
              <input ng-model="user.name" type="text" placeholder="Имя" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input ng-model="user.email" type="email" placeholder="Электронная почта" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input ng-model="user.city" type="text" placeholder="Город" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input ng-model="user.age" type="text" placeholder="Возраст" required/>
            </div>
            <div ng-init="user.sex = 'female'" class="col-md-6 text-right checked_Male">
              <input ng-model="user.sex" type="radio" id="radioMale" class="hide-radio" value="male" />
              <label for="radioMale">M</label>
              <input ng-model="user.sex" type="radio" id="radioFemale" class="hide-radio" value="female" />
              <label for="radioFemale">Ж</label>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-md-12">
                <p class="redLabel">Заполните, пожалуйста, все поля!</p>
                <p>В течении нескольких минут ожидайте письмо</p>
                <button type="submit" name="submit" class="redBtn" ng-disabled="registrationForm.$invalid">Зарегистрироваться</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--  formWrapper -->
    </div>
    <!-- modal-body -->
  </div>




  <div ng-hide="true" class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <iframe name="hidden_iframe" id="hidden_iframe" class="hidden"></iframe>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <img class="modalLogo" src="../img/infinityModal.png" alt="logo modal" />
        </div>
        <div class="modal-body">
          <div class="formWrapper">
            <form action="https://docs.google.com/a/dshop24.ru/forms/d/16fyb38Jy-2O_FiWGz3HqeYaNkuKuWb9Kj2sl2xlPGHk/formResponse" target="hidden_iframe" onsubmit="thankU()">
              <div class="row">
                <div class="col-md-12">
                  <input type="text" name="entry.1267323941" placeholder="Имя" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="text" name="entry.1639383876" placeholder="Электронная почта" />
                </div>
              </div>

              <div class="modal-footer">
                <div class="row">
                  <div class="col-md-12">
                    <p>В течении нескольких минут ожидайте письмо</p>
                    <button type="submit" name="submit" class="redBtn">Отправить</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!--  formWrapper -->
          <div class="thankU">
            <h2>Спасибо, Ваше письмо отправлено!</h2>
          </div>
        </div>
        <!-- modal-body -->
      </div>
    </div>
  </div>
</div>
