// стили общие для landing & profile pages

$red: #D8003D;
a, button {
  outline: none !important;
}

.btn_black {
  background-color: #000;
  padding:10px;
  border:2px solid #000;
  border-radius: 25px;
  color: #fff;
  font-size:14px;
  transition:background-color .4s;
}

.btn_black:hover {
  background-color: #fff;
  color: #000;
  border:2px solid #000;
}

.lineSec {
  text-align: center;
  background-position: center center;
  background-color:$red;
   background-image: url('img/lineSec/lineBg.png');
  background-size: 100%;
  height: 60px;
  h1 {
    color: #fff;
    line-height: 60px;
    margin:0;
  }
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////

.tariffSec {
  text-align: center;
  padding:50px 0 10px;
  background-image: url('img/tariffSec/tariffBg.png');
  background-size: cover;
  background-position: center;
  color:#fff;
  border-bottom: 4px solid $red;
  .wrapper {
    display: flex;
    justify-content: space-between;
    max-height: 290px;
    .itWrap {
      width: 300px;
      height:320px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        color: $red;
      }
      p {
        color: #fff;
      }
      span {
        font-size: 22px;
        font-weight: 800;
        letter-spacing:2px;
        color:#fff;
        display: block;
        i {
          font-weight: 800;
        }
      }
      button {
        max-width: 150px;
        margin:0 auto;
        height: 45px;
        padding:0 25px;
        margin-top: 40px;
      }
      button.DrugsBtn {
        border:4px solid $red;
        width: 80px;
        height: 80px;
        background-image:url('img/tariffSec/drugs.png');
        background-size: cover;
        background-position: center;
        border-radius:50%;
      }
      .DrugsBtnWrap {
        position: relative;
        button {
          position: absolute;
          top:-60px;
          right:0;
          left:0;
          bottom:0;
        }
        height: 45px;
      }
    }
    .itWrap:nth-last-child(1){
      p {
        max-height: 0px;
        margin: -30px 0px 30px;
        line-height: 16px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .tariffSec {
    .wrapper{
      flex-wrap: wrap;
      max-height: none;
      .itWrap {
        width:200px;
        height: 270px;
        margin: auto;
        button{
         margin: 0px auto 40px; 
        }
        .DrugsBtnWrap {
          button {
            top: -40px;
          }
        }
      }
    }
  }
}
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////

.regimAndFoodSec {
  padding:80px 0;
  background-image: url('img/regimAndFood/regimAndFood.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  p {
    margin:60px auto 100px;
    max-width: 34em;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .regimAndFoodSec{
    padding:20px 0;
    p {
      margin:30px auto;
      font-size: 16px;
      line-height: 21px;
    }
  }
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////

.rulesSec {
  background-color:#262626;
  padding:50px 0;
  .wrpapRul {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: #fff;
      margin-left: 180px;
    }
    span {
      margin-left: 60px;
      a {
      color: #fff;
        text-decoration: underline;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .rulesSec {
    padding: 30px 0;
    .wrpapRul {
      h1 {
        margin:0;
      }
    }
    
  }

}


/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////


.sendMailSec {
  background-color:#2b2b2b;
  padding:0 0 20px;
  h1 {
    text-align: center;
    color: #fff;
  }
  form {
    margin:20px 0;
    .redBtn {
      font-weight: 200;
      margin: auto;
      display: block;
      width: 200px;
      font-size: 20px;
    }
    .selectType {
      display: flex;
      justify-content:space-around;
      flex-wrap: wrap;
      margin-bottom: 20px;
      input[type="radio"]{
        display: none;
      }
      .hide-radio + label {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          padding: 0;
          background-color: #F5F5F5;
          color: #8C8C9C;
          font-size: 16px;
          transition: background-color 0.3s ease-in-out;
          line-height: 12px;
          text-indent: 20px;
          margin-left: -60px;
        }
           
        .hide-radio:checked + label {
          display: inline-block;
          background-color:$red;
          color:#fff;
        }
    }
    .typeInput {
      display: flex;
      justify-content:space-between;
      margin-bottom: 20px;
      flex-wrap: wrap;
      input {
        width: 47%;
        border-radius: 20px;
        background-color:#dcdcdc;
        border: 0;
        height: 40px;
        padding:10px;
        font-size: 17px;
      }
    }
    .mailParth {
      margin-bottom: 20px;
      textarea{
        min-width: 100%;
        max-width: 100%;
        min-height: 50px;
        border-radius: 20px;
        border-top-left-radius:0;
        border-top-right-radius:0;
        border: 0;
        font-size: 17px;
        padding:15px;
      }
      input {
        width: 100%;
        border-top-left-radius:20px;
        border-top-right-radius:20px;
        height: 40px;
        border: 0;
        background-color:#dcdcdc;
        font-size: 17px;
        padding:10px;
      }
    }
  }
}
.menuLoginBtn {
  position: relative;
  z-index: 101;
  width: 140px !important;
  padding: 15px 0 !important;
  text-align: center;
}
.menuLogin {
  display: none;
  
  height: 0;
  z-index: 100;
  
  .menuLoginWrap {
    margin-top: -30px;
    padding-top: 40px;

  transition:opacity .4s;
    height: 195px;
    width: 140px;
    background-color: #555;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  p {
    padding-bottom: 5px;
    a {
      color: #fff ;
      font-size: 15px !important;
      cursor: pointer;
    }
    a:hover {
      color: #D8003D;
    }
  }
  
}
.menuLogin:hover {
  display: block;
  .menuLoginWrap {
    opacity:1;
  }
}
.menuLoginBtn:hover + .menuLogin {
  display: block;
}